

body {
     margin:0px;
   
}
body::before{
    content: '';
    position: fixed;
    inset: 0;
    background-image: url(myimage/myavatar.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    opacity:0.6;
    z-index: -1;   
}

header{
    background-color:#FF1493;
    height:110px; 

}
h4{
    margin-top: 0px;
    margin-left: 50px;
    font-weight: lighter;
    color: black;
    padding-top: 20px;
    font-style: italic;
}
h5{
    margin-top: -20px;
    margin-left: 50px;
    padding-top: 0px;
    color: pink;
    font-style:italic


}
nav{
    text-align: center;
}
 nav ul {
    display: flex;
    justify-content:end;

}

nav ul li{
   display: inline-block; 
    width: 150px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    position: relative;
    display: inline-block;
}

.menubar li:hover .submenu{
    display:block; 
    position:absolute;
    background: #FF1493;
    padding-right:10px;
    text-align: center;
}
.menubar li:hover .submenu ul {
     display:block;
    width:70px;
    margin-left:20px;
    height:90px;
}
.menubar li:hover .submenu ul li{
     padding-top: 20px;
     margin-left: -65px;

}

.submenu{
    display:none;
}

nav ul li a::after{
    content:'';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0; /* stats with no underline */
    height: 2px;
    transition: width 0.3s ease; /*smooth animation */
    background: pink;
    

}
nav ul li a:hover::after{
    width:100%
}

h3{
    padding-top: 100px;
    margin-left: 50px;
    border-color: black;
    
}
h1{
    margin-left: 50px;
    color:#FF1493;
    font-size:60px ;
    margin-top: -20px;
    font-style: italic;
}

.myparagraph{
    margin-left: 50px;
}

.mybutton a{
    margin-left: 50px;
    border: 5px solid #FF1493;
    border-radius: 5px;
    background-color: #FF1493;
    width:fit-content;
    color:black;
    text-decoration: none;
     padding: 10px 20px;
    display: inline-block; 
    position: relative;     
}
.mybutton a:hover{
    transition:  width 0.3s ease;
    background-color: pink;
    
}

footer{
     background-color: #FF1493;
     bottom: 0;
     height:100px;
     margin-top:170px;
     padding-top: 30px;   
}
p.myfooter{
    display:flex;
    justify-content: center;
}

.toggle{
    display:none;
}

@media screen and (max-width: 960px){
    nav{
        display:flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .menubar{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }
    
    .menubar.active{
        background: pink;
        top:100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    .logo{
        padding-left: 25px;
    }

    .toggle .bar{
        width: 25px;
        display: block;
        height: 3px;
        margin: 5px auto;
        transition: all 0.5s ease;
        background: black;
    }

    .menubar li{
        width:100%;
    }

    .menubar li a{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu{
        position: absolute;
        top: 25px;
        right: 20px;
    }

    .toggle{
        display:block;
        cursor:pointer
    }

     .toggle .bar{
        display: block;

    }
}